<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>시작독서실 개신캠퍼스e</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

  </head>

  <body>

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%=url%>"><img src="images/logo.png" style="width:50%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%=url%>about">열람실(시설)소개
              <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=url%>reservation">예약하기
              </a>
            </li>
            <% if ("" == user_id ){ %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>sign">회원가입</a>
            </li>
            <% }else{ %>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>login">로그아웃</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="<%=url%>contact">찾아오시는길</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="subcontainer">
	    <div class="container">
	
	      <h1 class="my-4"></h1>
	      <div class="roomrow">
			  <div class="roomcolumn">
			   <a href="<%=url%>information" />
			    <img src="images/Information/informationdesk1.jpg" class="hover-shadow">
			     <div class="roomtext">Information desk</div>
			  </div>
			  <div class="roomcolumn">
			   <a href="<%=url%>signature" />
			    <img src="images/signature/signatureroom1.jpg" class="hover-shadow">
			     <div class="roomtext">Signature Room</div>
			  </div>
			  <div class="roomcolumn">
			   <a href="<%=url%>curved" />
			    <img src="images/Curved/curvedroom1.jpg"  class="hover-shadow">
			     <div class="roomtext">Curved Room</div>
			  </div>
		  </div>
		  <div class="roomrow">
		  	  <div class="roomcolumn">
		  	   <a href="<%=url%>standard" />
			    <img src="images/Standard/standardroom1.jpg"  class="hover-shadow">
			     <div class="roomtext">Standard Room</div>
			  </div>
			  <div class="roomcolumn">
			   <a href="<%=url%>focus" />
			    <img src="images/Focus/focusroom1.jpg"  class="hover-shadow">
			     <div class="roomtext">Focus Room</div>
			  </div>
			  <div class="roomcolumn">
			   <a href="<%=url%>foodzon" />
			    <img src="images/Food/foodzone1.jpg"  class="hover-shadow">
			     <div class="roomtext">Food Zone</div>
			  </div>
	       </div>
		</div>  
	</div> 


    
        <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">상호 : 시작독서실</p>
        <p class="m-0 text-center text-white">주소 : 청주시 서원구 복대로 13,4층</p>
        <p class="m-0 text-center text-white">연락처 : 043-234-8763 &nbsp;&nbsp;&nbsp; 사업자 등록번호 : 732-94-00256</p>
        <p class="m-0 text-center text-white">Copyright &copy; 시작독서실 개신캠퍼스 2018 &nbsp;&nbsp; 대표메일 : sizaklibrary@gmail.com</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>
