<!DOCTYPE html>
<html>
<head>
<title>시작독서실 개신캠퍼스</title>
<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="css/signstyle.css" type="text/css" media="all" />
         <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="<%=url%>"><img src="images/logo.png" style="width:100%"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>about">열람실(시설)소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>reservation">예약하기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>sign">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="<%=url%>contact">찾아오시는길</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	    <!-- Page Content -->
    <div class="container">
		<div class="row">
		  
		  <div class="leftcolumn">
			  <div class="whitesignin">
			  	<div class="signheader">
				  <h2>개인정보동의서 약정</h2>
				  <div class="signprogress-container">
				    <div class="signprogress-bar" id="myBar"></div>
				  </div>  
				</div>
				
				<div class="signcontent">
				  	<p>시작독서실 개신캠퍼스가 운영하는 웹사이트는 개인정보를 중요하게 생각하며 "정보통신 이용촉진 및 정보보호등에 관한 법률", "개인정보보호법 제15조" 등 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보를 취급(처리)하고 있습니다.</p>
				  	<h6>1. 개인정보의 수집방법 및 이용목적</h6>
				  	<p>○ 수집방법 :웹사이트 기존사용자 및 회원가입을 통한 수집</p>
				  	<p>○ 이용목적 :웹사이트 서비스 이용 및 회원관리 확인/수정/삭제 등 웹사이트 이용에 필요한 최소한의 정보를 수집합니다</p>
				  	<p>○ 시스템목록 :열람실(시설)소개,예약하기</p>
				  	<h6>2. 개인정보의 수집항목</h6>
				  	<p>시작독서실 개신캠퍼스 웹사이트에서는 기본적인 회원 서비스 제공을 위한 필수정보와, 정보주체 각각의 기호와 필요에 맞는 서비스를 제공하기 위한 선택정보로 구분하여 다음의 정보를 수집하고 있습니다.</p>
				  	<p>○ 수집항목 :아이디,비밀번호,이름,생년월일,연락처, 주소,학교명,준비중 시험</p>
					<p>○ 웹사이트를 이용할 경우 접속IP, 방문일시 등의 정보는 시스템에 의해 자동적으로 수집•저장 됩니다.</p>
					<p>개인정보 보호법 시행령 제19조제1호에 따른 주민등록번호가 포함된 자료 처리를 합니다.</p>
					<h6>3. 개인정보의 보유 및 이용기간</h6>
					<p>○ 시작독서실 개신캠퍼스 웹사이트에서는 정보주체의 회원 가입일로부터 서비스를 제공하는 기간 동안에 한하여 시작독서실 개신캠퍼스 웹사이트내 서비스를 이용하기 위한 최소한의 개인정보를 보유 및 이용하게 됩니다.</p>
					<p>○ 회원가입 등을 통해 개인정보의 수집•이용, 제공 등에 대해 동의하신 내용은 언제든지 철회 할 수 있습니다.</p>
					<p>○ 회원 탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 보유/이용기간이 종료한 경우등의 사유발생시 당해 개인정보를 지체없이 파기합니다.</p>
					<h6>4. 동의 거부 권리 안내</h6>
					<p>○ 정보주체는 개인정보 수집•이용 동의를 거부할 수 있습니다. 다만, 이 경우 웹사이트를 사용하는데 제한이 있을 수 있습니다.</p>
					<p>※ 수집된 개인정보는 웹사이트를이용하기 위한 정보 이외의 용도로 이용되지 않으며, 제3자에게 제공하지 않습니다.</p>
									  	
			  	</div>
			  </div>
			   <div class="whitesignin">
			   	  <input type="checkbox" id="checkagree" value="Remember-Me" /> 
				  <p class = "pfont" >동의하기</p>
			   </div>
		  </div>
		  <div class="rightcolumn">
		     <div class="signin">
		      <h2 class = "hfont" >가입 내역</h2>
		      <label class="signLabel">
		    	<i class="fa fa-user-secret signtitle"> 아&nbsp;이&nbsp;디&nbsp;&nbsp;&nbsp;*</i> 
		    	<input type="text" class="signinSmall" id="userId" name="firstname" placeholder="">
		    	<input type="idbut" value="중복확인" onclick="idcheck('<%=url%>')"/>	
		      </label>
		      <label class="signLabel">
		    	<i class="fa fa-compass signtitle"> 비밀번호 *</i> 
		    	<input type="password" class="signinSmall" id="pass" name="firstname" placeholder="" onfocus="cngtype()">
		    	<input type="password" class="signinSmall" id="passCheck" name="firstname" placeholder="비밀번호 재입력" onfocus="cngtype()">
		      </label>
		      <label class="signLabel">
		    	<i class="fa fa-user signtitle"> 이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;름 *</i> 
		    	<input type="text" class="sign" id="fname" name="firstname" >
		      </label>
		      <label class="signLabel ">
			    <i class="fa fa-magic signtitle"> 생년월일<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(8자리) *</i> 
			    <input type="text" class="sign" id="birth" name="birth" placeholder="YYYYMMDD">
			   </label>
			   <label class="signLabel">
			    <i class="fa fa-phone signtitle"> 연&nbsp;락&nbsp;처 &nbsp;&nbsp;*</i> 
			    <input type="text" class="sign" id="phone" name="phone" placeholder="111-1111-1111">
			   </label>
			   <label class="signLabel">
			    <i class="fa fa-address-card-o signtitle"> 주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소 *</i> 
			   	<input type="text" class="sign" id="adr" name="address" placeholder="">
			   </label>
			   <label class="signLabel">
			    <i class="fa fa-institution signtitle"> 학&nbsp;&nbsp;교&nbsp;&nbsp;명&nbsp;</i> 
			    <input type="text" class="sign" id="school" name="school" placeholder="">
			   </label>
			   <label class="signLabel">
			    <i class="fa fa-book signtitle"> 준&nbsp;비&nbsp;중&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;험</i> 
			   	<input type="text" class="sign" id="exam" name="exam" placeholder="">
			   </label>
			   	
			   <input type="submit" value="가입하기" onclick="signpro('<%=url%>')"/>	
		    </div>
		  </div>
		</div>
	</div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">상호 : 시작독서실</p>
        <p class="m-0 text-center text-white">주소 : 청주시 서원구 복대로 13,4층</p>
        <p class="m-0 text-center text-white">연락처 : 043-234-8763 &nbsp;&nbsp;&nbsp; 사업자 등록번호 : 732-94-00256</p>
        <p class="m-0 text-center text-white">Copyright &copy; 시작독서실 개신캠퍼스 2018 &nbsp;&nbsp; 대표메일 : sizaklibrary@gmail.com</p>
      </div>
      <!-- /.container -->
    </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/showSlides.js"></script>
  <script src="js/agency.js"></script>
 
<script>
	// When the user scrolls the page, execute myFunction 
	window.onscroll = function() {myFunction()};
	
	function myFunction() {
	  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
	  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
	  var scrolled = (winScroll / height) * 100;
	  document.getElementById("myBar").style.width = scrolled + "%";
	}
	
    var idcheckYN = "false";

	function idcheck(urls){
		if(""==$("#userId").val())
		{
			alert("아이디를 입력해주세요");	
		}else{
			if(idcheckYN == "false"){ 
				var action = urls+"idcheck";
				var form_data = {
					userId: $("#userId").val(),
					is_ajax: 1
				};
				
				$.ajax({
					type: "POST",
					url: action,
					data: form_data,
					success: function(response) {
						if(response == 'success') {
							alert("사용가능한 아이디 입니다.");
							idcheckYN = "true";
						}
						else {
							alert("사용중인 아이디 입니다.");
							$("#userId").val() = "";
							idcheckYN = "false";
						}
					},
					error:function(e){  
						alert("오류"+e.responseText);  
		         	}  
				});
			}
		}
	}
	
    function signpro(urls) {
        if("" == $("#userId").val()){
        	alert("아이디는 필수 입력 사항힙니다");
        	return;
        }else{
        	if(idcheckYN == "false"){
        		alert("아이디 중복 체크를 진행 바랍니다.");
        		return;
        	}
        } 
        
        if("" == $("#pass").val()){
        	alert("비밀번호는 필수 입력 사항힙니다");
        	return;
        }else{
		    if($("passCheck").val() == $("#pass").val()){
		    	alert("입력하신 비밀번호와 확인 비밀번호가 다릅니다.");
		    	return;
		    }
        }
         
        if("" == $("#fname").val()){
        	alert("이름은 필수 입력 사항힙니다");
        	return;
        }  
        if("" == $("#birth").val()){
        	alert("생년월일은 필수 입력 사항힙니다");
        	return;
        }else{
            var p = $("#birth").val().split('-').join('');
        	var dayRegExp = /^(19|20)\d{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[0-1])$/;
        	
        	var chkFlg = dayRegExp.test(p);
        	
        	if(!chkFlg){
				alert("생년월일을 yyyymmdd 형식으로 입력해야합니다.");
        		return;
			}
        
        }  
        if("" == $("#phone").val()){
        	alert("연락처는 필수 입력 사항힙니다");
        	return;
        }else{
	        var p = $("#phone").val().split('-').join('');
			var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;
			var chkFlg = regPhone.test(p);
			
			if(!chkFlg){
				alert("올바른 연락번호 형식이 아닙니다.");
        		return;
			}
        }
        if("" == $("#adr").val()){
        	alert("주소는 필수 입력 사항힙니다");
        	return;
        }  
        if(false == $("#checkagree").is(":checked")){
        	alert("개인정보 동의를 해야합니다.");
        	return;
        }    
    
        var tageturl = urls+"signprocess"
		var form = $('<form></form>');
            form.attr('action', tageturl);
            form.attr('method', 'post');
            form.appendTo('body');
            form.append($('<input type="hidden" value="'+ $("#userId").val() + '" name="userId">'));
            form.append($('<input type="hidden" value="'+ $("#pass").val() + '" name="pass">'));
            form.append($('<input type="hidden" value="'+ $("#fname").val() + '" name="fname">'));
            form.append($('<input type="hidden" value="'+ $("#birth").val() + '" name="birth">'));
            form.append($('<input type="hidden" value="'+ $("#phone").val() + '" name="phone">'));
            form.append($('<input type="hidden" value="'+ $("#adr").val() + '" name="adr">'));
            form.append($('<input type="hidden" value="'+ $("#school").val() + '" name="school">'));
            form.append($('<input type="hidden" value="'+ $("#exam").val() + '" name="exam">'));

	
		form.submit();
	}
</script>

</body>
</html>